<div
  class="bg-gray-800 p-8 rounded-md shadow-md md:w-96 text-white text-center"
>
  <h2 class="text-2xl font-bold mb-4">Registarse</h2>
  <form action="#" method="post">
    <div class="mb-4">
      <label for="email" class="block mb-1">Correo Electrónico:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:border-blue-500"
      />
    </div>

    <div class="mb-4">
      <label for="password" class="block mb-1">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:border-blue-500"
      />
    </div>

    <div class="mb-4">
      <label for="fullName" class="block mb-1">Nombre completo:</label>
      <input
        type="text"
        id="fullName"
        name="fullName"
        required
        class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:border-blue-500"
      />
    </div>

    <button
      type="submit"
      class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green"
    >
      Guardar
    </button>
  </form>

  <div class="mt-4">
    <a href="#" class="text-blue-400 hover:underline"> <- Atras </a>
  </div>
</div>
