<div
  class="bg-gray-800 p-8 rounded-md shadow-md md:w-96 text-white text-center"
>
  <h2 class="text-2xl font-bold mb-4">Registarse</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSave()" autocomplete="off">
    <div class="mb-4">
      <label for="email" class="block mb-1">Correo Electrónico:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [class]="isValidField('email')"
      />
    </div>

    <div class="mb-4">
      <label for="password" class="block mb-1">Contraseña:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class]="isValidField('password')"
      />
    </div>

    <div class="mb-4">
      <label for="fullName" class="block mb-1">Nombre completo:</label>
      <input
        type="text"
        id="fullName"
        formControlName="fullName"
        [class]="isValidField('fullName')"
      />
    </div>

    <div class="mb-4">
      <label for="fullName" class="block mb-1">Edad:</label>
      <input
        type="number"
        id="Age"
        formControlName="Age"
        [class]="isValidField('Age')"
      />
    </div>

    <button
      type="submit"
      class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green"
    >
      Guardar
    </button>
  </form>

  <div class="mt-4">
    <a (click)="login()" class="text-blue-400 hover:underline"> <- Atras </a>
  </div>
</div>
