<main class="bg-gray-900 text-white font-sans">
  <div class="flex h-screen">
    <!-- Menú lateral -->
    <div
      [ngClass]="hidden ? 'hidden' : ''"
      class="bg-gray-800 w-64 p-4 md:block"
    >
      <h2 class="text-2xl font-bold mb-4">Menú</h2>
      <ul>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700"
            >Inicio</a
          >
        </li>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700"
            >Perfil</a
          >
        </li>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700"
            >Publicaciones</a
          >
        </li>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700"
            >Amigos</a
          >
        </li>
        <li class="mb-2">
          <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700"
            >Configuración</a
          >
        </li>
      </ul>
    </div>

    <!-- Botón de hamburguesa para dispositivos móviles -->
    <div class="md:hidden">
      <button (click)="Show()" class="text-gray-300 focus:outline-none">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </button>
    </div>

    <!-- Contenido principal -->
    <div class="flex-1">
      <div
        class="mx-auto grid grid-cols-4 grid-rows-1 text-sm text-gray-900 sm:mt-10 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4"
      >
        <component-feed-add
          class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1"
        ></component-feed-add>
      </div>
      <div class="h-1/2 overflow-y-auto px-5 py-3 grid grid-flow-row grid-cols-3 gap-4">
        
        @for (feed of feeds(); track $index) {
          <div class="space-y-8 xl:contents xl:space-y-0 gap-x-4">
            <div class="space-y-8 xl:row-span-2">
              <figure
                class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5"
              >
                <blockquote class="text-gray-900">
                  <p class="text-xs">
                    {{ feed.content }}
                  </p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                  <img
                    class="h-10 w-10 rounded-full bg-gray-50"
                    src="https://static.wikia.nocookie.net/442oonsorg/images/3/34/Juventus_logo.png/revision/latest/smart/width/250/height/250?cb=20210513093053"
                    alt=""
                  />
                  <div>
                    <div class="font-semibold text-slate-950 text-sm"> {{ feed.user.fullName }} </div>
                  </div>
                  <div class="flex items-center content-center font-semibold text-slate-950 text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                    </svg>
                    {{ feed.like }}
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        }
        
      </div>
    </div>
  </div>
</main>
